Repository ripple-run/ripple-run.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, textlint --fix

.lintstagedrc:

{
  "**/*.js": "eslint --fix",
  "blog/**/*.md": "textlint --fix"
}

chore: :lipstick: fix style
  blog/2020-07-22-lights-and-shadows.md
  src/css/custom.css
Due: textlint --fix

Deploy website - based on 8203358dd0af3d6dad63c6654f6361b8807a15f0
  404.html
  styles.9937f085.css
  styles.c77052d9.css
Due: none

docs: :pencil: lights-and-shadows
  .eslintrc.js
  blog/2020-07-22-lights-and-shadows.md
  docusaurus.config.js
  package-lock.json
  package.json
  src/components/Center/index.js
  src/components/Center/styles.module.css
  src/css/custom.css
Due: eslint --fix, textlint --fix

Deploy website - based on 77b7e378601fab4a54eda8971b129f7ac9d16f54
  2020/07/22/lights-and-shadows/index.html
  3.946c564d.js
  404.html
  4d36802c.7dbc7cc1.js
  7684c280.e704d940.js
  9.99a906b2.js
  90d2024e.5b937c39.js
  a6aa9e1f.9d9c500a.js
  atom.xml
  ccc49370.4edaa000.js
  common.b292663c.js
  common.b292663c.js.LICENSE.txt
  index.html
  main.3c5c5db7.js
  main.3c5c5db7.js.LICENSE.txt
  main.ed26e1f1.js
  rss.xml
  runtime~main.18b4fc9f.js
  runtime~main.6203750d.js
  sitemap.xml
  styles.81ce4a6f.js
  styles.a7a99301.css
  styles.bfed1a31.js
  styles.c77052d9.css
Due: eslint --fix

docs: :alembic: :beers: add gomoku demo
  blog/2020-08-05-gomoku.md
  src/components/Gomoku/board.js
  src/components/Gomoku/gomoku.js
  src/components/Gomoku/index.js
  src/components/Gomoku/main.js
  src/components/Gomoku/styles.module.css
  src/utils/helpers.js
  src/utils/log.js
Due: eslint --fix, textlint --fix

chore: :wrench: switch npm registry
  .npmrc
  package-lock.json
Due: none

chore: :arrow_up: upgrade docusaurus
  docusaurus.config.js
  src/css/custom.css
  src/utils/log.js
Due: eslint --fix

Deploy website - based on c5013a5104e05f5d1d1681a625c80364c91b79d7
  11.4d7ba77b.js
  2020/07/22/lights-and-shadows/index.html
  2020/08/05/gomoku/index.html
  2b0abecf.8c06c3b6.js
  404.html
  4d36802c.4bbf2afd.js
  4d36802c.7dbc7cc1.js
  59891ce1.26174ad1.js
  7684c280.b483e566.js
  7684c280.e704d940.js
  9.99a906b2.js
  90d2024e.5b937c39.js
  90d2024e.9f108a6f.js
  a6aa9e1f.8dee518f.js
  a6aa9e1f.9d9c500a.js
  atom.xml
  ccc49370.4edaa000.js
  ccc49370.a33c537c.js
  common.60faf78e.js
  common.60faf78e.js.LICENSE.txt
  common.b292663c.js
  index.html
  main.3c5c5db7.js
  main.5de51343.js
  main.5de51343.js.LICENSE.txt
  rss.xml
  runtime~main.18b4fc9f.js
  runtime~main.933c036c.js
  sitemap.xml
  styles.22b4cf60.js
  styles.a7a99301.css
  styles.bfed1a31.js
  styles.ffa6b8e0.css
Due: eslint --fix

fix: gomoku webgl
  blog/2020-08-05-gomoku.md
  src/components/Gomoku/2d/board.js
  src/components/Gomoku/2d/gomoku.js
  src/components/Gomoku/2d/main.js
  src/components/Gomoku/gl/board.js
  src/components/Gomoku/gl/gomoku.js
  src/components/Gomoku/index.js
  src/components/Gomoku/styles.module.css
Due: eslint --fix, textlint --fix

Deploy website - based on a47fadefce92fa8eed876516386b1cd6394d1a6b
  2020/07/22/lights-and-shadows/index.html
  2020/08/05/gomoku/index.html
  2b0abecf.47755489.js
  2b0abecf.8c06c3b6.js
  404.html
  59891ce1.26174ad1.js
  59891ce1.91f0a8bf.js
  common.60faf78e.js
  common.8478a375.js
  common.8478a375.js.LICENSE.txt
  index.html
  runtime~main.933c036c.js
  runtime~main.bc5b4862.js
  styles.c8146700.css
  styles.ffa6b8e0.css
Due: eslint --fix
